@{
    ViewData["Title"] = "Home Page";
}
    <img src="~/images/2023Kia.jpg" class="imagenPrincipal" />
<h1 class="display-4" id="titulo">Bienvenido al sistema de gestión de <span class="hola">Car Rentals</span></h1>
