@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RentACar.Models.Modelo

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Editar modelo</h2>
        <form asp-controller="Modelo" asp-action="Editar" method="post">
            <input asp-for="Id" type="hidden" />
            <div class="mb-3">
                <label>Marca</label>
                <select class="form-control" asp-for="MarcaId" asp-items="ViewBag.Marcas">
                    <option value="">Seleccione una marca...</option>
                </select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Descripción</label>
                <input class="form-control" asp-for="Descripcion" type="text" />
            </div>
            <div class="mb-3">
                <label>Estado</label>
                <select class="form-control" asp-for="Estado" asp-items="ViewBag.Estados"></select>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary mb-3" type="submit">Guardar</button>
                <a asp-controller="Modelo" asp-action="Lista" class="btn btn-warning mb-3">Volver</a>
            </div>
        </form>
    </div>
</div>